<section class="bg-light py-5">
  <div class="container px-5 my-3">
      <div class="text-end mb-3">
        <button class="btn btn-primary">Add Team</button>
      </div>
      <h1 class="">Show all Teams</h1>
      <div class="container m-3">

        <ul class="nav justify-content-end mb-5">

          <!-- filter -->
          <li class="nav-item p-2">
            <button class="btn btn-outline-white">Sport</button>
           </li>
          <li class="nav-item p-2">
            <button class="btn btn-outline-white">Gender</button>
          </li>
          <li class="nav-item p-2">
            <button class="btn btn-outline-white">Category</button>
          </li>

          <!-- search -->
          <li class="nav-item p-2">
            <form  class="d-flex">
              <input
              type="text" class="form-control" formControlName="search" placeholder="Search">
              <button class="btn btn-outline-white" type="submit "><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </li>

        </ul>
      </div>

      <div class="row gx-5 justify-content-center">

          <!-- Leagues cards-->

          @for( team of teams; track $index ){

          <div class="col-lg-6 col-xl-4">
              <div class="card mb-5 mb-xl-0">
                  <div class="card-body p-5">
                      <div class="small text-uppercase fw-bold text-muted">{{ team.sport_id }}</div>
                      <div class="mb-3">
                          <span class="display-6">{{ team.team_name}}</span>
                      </div>
                      <ul class="list-unstyled mb-4">
                          <li class="mb-2"><strong>{{ team.location }}</strong></li>
                          <li class="mb-2">{{ team.category }}</li>
                          <li class="mb-2">{{ team.gender }}</li>
                          <li class="mb-2 text-muted">{{ team.description }}</li>
                      </ul>

                      <div class="d-grid"><a class="btn btn-primary">Team Manager</a></div>
                  </div>
              </div>
          </div>
        }
        </div>
      </div>
</section>

