<section class="bg-light py-5">
  <div class="container px-5 my-5">
      <div class="text-center mb-5">
          <h1 class="fw-bolder">Pay as you grow</h1>
          <p class="lead fw-normal text-muted mb-0">With our no hassle pricing plans</p>
      </div>
      <div><button class="btn btn-primary" (click)="addLeagueModal()">Add League</button></div>
      <div class="row gx-5 justify-content-center">

          <!-- Leagues cards-->

          @for( league of leagues; track $index ){

          <div class="col-lg-6 col-xl-4">
              <div class="card mb-5 mb-xl-0">
                  <div class="card-body p-5">
                      <div class="small text-uppercase fw-bold text-muted">{{ league.sport }}</div>
                      <div class="mb-3">
                          <span class="display-4 fw-bold">{{ league.league_name }}</span>
                      </div>
                      <ul class="list-unstyled mb-4">
                          <li class="mb-2"><strong>{{ league.location }}</strong></li>
                          <li class="mb-2">{{ league.category }}</li>
                          <li class="mb-2">{{ league.gender }}</li>
                          <li class="mb-2 text-muted">{{ league.description }}</li>
                      </ul>
                      <div class="d-grid"><a class="btn btn-secondary mb-3">Show League</a></div>
                      <div class="d-grid"><a class="btn btn-primary" [routerLink]="['/manager']" routerLinkActive="">League Manager</a></div>
                  </div>
              </div>
          </div>
        }
        </div>
      </div>
</section>
