<section class="bg-light py-5">
  <div class="container px-5 my-3">
    <h1 class="">NOM LLIGA</h1>

    <div class="row gx-5 justify-content-center p-3">
      <div class="text-end mb-3">
        <button class="btn btn-primary me-3">Update</button>
        <button class="btn btn-primary">Delete</button>
      </div>
      <div class="card w-100 p-4">
        <ul class="d-flex list-unstyled mb-4">
          <li class="me-4">Sport: <strong>F7</strong></li>
          <li class="me-4">Category: <strong>+30</strong></li>
          <li class="me-4">Gender: <strong>Mixed</strong></li>
          <li class="me-4">Location: <strong>Barcelona</strong></li>
        </ul>
        <p class="me-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse laboriosam vel totam possimus culpa provident iusto temporibus, voluptatum dolore impedit natus, mollitia quod eligendi facere excepturi id aliquid, ullam illum?</p>
      </div>
    </div>
    <div class="row gx-5 justify-content-center p-3">
      <div class="card w-50 p-4">
        <div class="text-end mb-3">
          <button class="btn btn-primary">Add Team</button>
        </div>
        <h5>Teams</h5>
      </div>
      <div class="card w-50 p-4">
        <div class="text-end mb-3">
          <button class="btn btn-primary">Add Match</button>
        </div>
        <h5>Calendar</h5>
      </div>
    </div>

  </div>
</section>
