/* You can add global styles to this file, and also import other style files */


$primary: #5908db;
$secondary: #fc00ff;
$info: aquamarine;





/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.btn{
  border-radius: 50pt;
  font-size: 10pt;
}

.form-control, .form-select, select, option {
  border-radius: 50pt;
  font-size: 10pt;
  background-color: black;

}



.card{
  border-radius: 25pt;

}

.custom-gradient {
  //background: linear-gradient(to right, #5908db13, #69dc9f4e, #5908db13); /* Cambia los colores según tus preferencias */
  //background: radial-gradient(circle, #35d8ea, #5908db );
  //background: radial-gradient(circle, #35d8ea, #5908db, white );
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1, h2, h5, li, span, p, a, button, select, option {
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
}

.header-gradient{
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #fc00ff, #00dbde,);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #fc00ff, #00dbde,); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
