/* You can add global styles to this file, and also import other style files */


$primary: #671cde;
$secondary: #69dc9e;
$info: #CFEE9E;



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
