/* You can add global styles to this file, and also import other style files */


$primary: #5908db;
$secondary: #69dc9e;
$info: #CFEE9E;
$gradient-right: linear-gradient(90deg, #faa6ffff, #7353baff, #2f195fff, #0f1020ff, #efc3f5ff);




/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
